@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #000;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    margin-inline: 8em;
}

.brand {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: x-large;
    color: #fff;
}

.brand .logo {
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding: 2px;
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.header-links li>* {
    text-decoration: none;
}

.header-links ul li:nth-child(1) a {
    color: #fff;
    font-size: 20px;
    background: #1a1818;
    padding: 10px;
    border: 2px gray solid;
    border-radius: 10px;
}

.header-links ul li:nth-child(2) a {
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4C5FD5;
    border-radius: 10px;
}

.header-links ul li:nth-child(2) a:hover {
    color: #000;
    background: #fff;
    transition: all .2s;
}

/* Section Form */
.section-wrapper {
    background-color: #cacfd3;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-wrapper h1 {
    font-size: 4rem;
}

form input {
    width: 50em;
    height: 4em;
    padding-left: 2em;
}

form input::placeholder {
    font-weight: bold;
    font-size: 1rem;
    color: #000;
    opacity: .8;
}

.fa-arrow-right {
    position: relative;
    right: 40px;
    top: 2px;
}

.fa-arrow-right:hover {
    color: #4C5FD5
}

/* MAIN */
.perk-logo {
    /* max-width: 5em; */
    height: 5em;
    width: 5em;
}

.main-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    /* column-gap: 30px; */
    column-gap: 10px;
    row-gap: 50px;
    margin: 10em 10em;
}

.perk-flash {
    display: flex;
    /* outline: red solid 2px; */
    justify-content: space-between;
    margin: 20px 30px;
    /* outline: red solid 2px; */
}

.perk-flash .desc {
    width: 20em;
    /* outline: #000 solid 2px; */
}

.desc a {
    text-decoration: none;
}

.desc a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    height: 25em;
    background: #000;
}

.footer-container {
    color: #cacfd3;
    height: 18em;
    margin: 0 3em;
}

.footer-container .column {
    display: inline-block;
    vertical-align: top;
    margin: 2em 3em;
}

.column ul {
    list-style: none;
    margin-top: 1em;
}

.column ul li {
    margin: 10px 0;
}

.column ul li a {
    text-decoration: none;
    color: #fff;
}

.column ul li a:hover {
    text-decoration: underline;
}

.footer-container> :nth-child(4) ul> :nth-child(3) {
    /* outline: red solid 2px; */
    margin-bottom: 2em;
}

.copyright {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 15em;
    font-size: 17px;
    color: #fff;
}

.footer-logo {
    background-color: #fff;
    height: 3em;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    bottom: 1em;
}

.help {
    position: fixed;
    background-color: #4C5FD5;
    padding: 10px 20px;
    border-radius: 50px;
    left: 78em;
    top: 37em;
}

.help a {
    text-decoration: none;
    color: #fff;
}

/* MEDIA QUERY */
@media (max-width:768px) {

    /* HEADER */
    .header-wrapper {
        margin-inline: 0em;
        flex-direction: column;
        height: 9em;
        justify-content: space-around;
    }

    /* SECTION FORM */
    .section-wrapper {
        height: 12em;
    }

    .section-wrapper h1 {
        font-size: 2rem;
        margin: 20px 0;
        text-align: center;
    }

    form input {
        width: 20em;
    }

    /* MAIN */
    .main-wrapper {
        display: grid;
        grid-template-columns: auto;
        margin: 3em 2em;
        /* outline: red solid 2px; */
    }

    .perk-flash > *{
        margin-inline: 5px;
    }

    .perk-flash {
        margin: 0;
        width: 23em;
        justify-content: space-around;
    }
    .perk-flash .desc {
        width: 14em;
        /* outline: #000 solid 2px; */
    }

    /* FOOTER */
    footer {
        height: fit-content;
    }

    .footer-container {
        display: flex;
        height: fit-content;
        margin-inline: 0;
        flex-direction: column;
        /* outline: red solid 2px; */
    }

    .copyright {
        display: inline-block;
        margin-top: 2em;
        margin-left: 3em;
        font-size: 17px;
    }
}